<nav>
  <a
    title="Home"
    routerLink="/home"
    routerLinkActive="active"
    style="--delay: 0.2s"
    >Home</a
  >
  <a
    title="Skills"
    routerLink="/skills"
    routerLinkActive="active"
    style="--delay: 0.4s"
    >Skills</a
  >
  <a
    title="History"
    routerLink="/history"
    routerLinkActive="active"
    style="--delay: 0.6s"
    >History</a
  >
  <a
    title="Projects"
    routerLink="/projects"
    routerLinkActive="active"
    style="--delay: 0.8s"
    >Projects</a
  >
  <a
    title="Contact"
    routerLink="/contact"
    routerLinkActive="active"
    style="--delay: 1s"
    >Contact</a
  >
</nav>
