<header>
    <div class="title" title="PLART">PLART</div>
    <nav>
        <a class="return" routerLink="/page" title="Return">
            <i class='bx bx-left-arrow-alt'></i>
        </a>
    </nav>
</header>

<div class="container">
    <div class="content">
        <div class="picture-container">
            <div class="desktop">
                <div class="nav">
                    <span>Navigation</span>
                    <div class="pictures">
                        <img class="smaller" [src]="imagePath + 'desktop/Nav.png'" alt="PLART">
                    </div>
                </div>
                <div class="home">
                    <span>Home Page</span>
                    <div class="pictures">
                        <img [src]="imagePath + 'desktop/Slider.png'" alt="PLART">
                        <img [src]="imagePath + 'desktop/Stat.png'" alt="PLART">
                    </div>
                    <ul>
                        <li>Images swiper with dynamic descriptions</li>
                        <li>Animated website stats with go to connect, user or objects pages when clicked</li>
                    </ul>
                </div>
                <div class="object">
                    <span>Object Page</span>
                    <div class="pictures">
                        <img [src]="imagePath + 'PLART.png'" alt="PLART">
                    </div>
                    <ul>
                        <li>Search object or filter objects by category</li>
                        <li>See objects with a rotating card animation</li>
                        <li>Download the 3D printable file of any object</li>
                    </ul>
                </div>
                <div class="connect">
                    <span>Connect Page</span>
                    <div class="pictures">
                        <img [src]="imagePath + 'desktop/Login.png'" alt="PLART">
                    </div>
                    <ul>
                        <li>Register with email confirmation</li>
                        <li>Login with form control and failure animation</li>
                        <li>Logout is available on any page once logged in</li>
                    </ul>
                </div>
                <div class="account">
                    <span>Account Page</span>
                    <div class="pictures">
                        <img [src]="imagePath + 'desktop/Account.png'" alt="PLART">
                        <img [src]="imagePath + 'desktop/Add-object.png'" alt="PLART">
                    </div>
                    <ul>
                        <li>Login needed to view this page</li>
                        <li>Modify or delete your account (delete needs confirmation)</li>
                        <li>See your objects and download them</li>
                        <li>Add an object with a file and optionnal image</li>
                        <li>Modify or delete your objects (delete needs confirmation)</li>
                    </ul>
                </div>
                <div class="message">
                    <span>Message Page</span>
                    <div class="pictures">
                        <img [src]="imagePath + 'desktop/Message.png'" alt="PLART">
                        <img class="smaller" [src]="imagePath + 'desktop/User-search.png'" alt="PLART">
                    </div>
                    <ul>
                        <li>Login needed to view this page</li>
                        <li>Search user</li>
                        <li>See messages and messages number per user</li>
                        <li>Send, modify or delete a message</li>
                    </ul>
                </div>
                <div class="admin">
                    <span>Admin Page</span>
                    <div class="pictures">
                        <img [src]="imagePath + 'desktop/Admin.png'" alt="PLART">
                    </div>
                    <ul>
                        <li>Admin role needed to view this page</li>
                        <li>Search user, object or message</li>
                        <li>See all users, objects or messages</li>
                        <li>Delete user, object or message</li>
                    </ul>
                </div>            
            </div>
            <div class="phone">
                <span>Responsive design</span>
                <div class="pictures">
                    <img [src]="imagePath + 'phone/Admin.png'" alt="PLART">
                    <img [src]="imagePath + 'phone/Message.png'" alt="PLART">
                    <img [src]="imagePath + 'phone/Object.png'" alt="PLART">
                </div>
            </div>
        </div>
        <div class="video-container">
            <span>Demo Video</span>
            <video [src]="videoPath+'PLART.mp4'" autoplay loop muted controls></video>
        </div>
    </div>
    <a href="https://github.com/Brice150/PLART" target="_blank" title="View Code" class="btn">View Code</a>
</div>