<header>
    <div class="title" title="PICKME">PICKME</div>
    <nav>
        <a class="return" routerLink="/page" title="Return">
            <i class='bx bx-left-arrow-alt'></i>
        </a>
    </nav>
</header>

<div class="container">
    <div class="content">
        <mat-accordion>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class='bx bx-laptop'></i>
                  <span>Connect Page</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="expansion-content">
                <div class="pictures">
                    <img class="larger" [src]="imagePath + 'desktop/Login.png'" alt="PICKME">
                </div>
                <ul>
                    <li>Register with email confirmation</li>
                    <li>Login with form control and failure animation</li>
                    <li>Logout is available on any page once logged in</li>
                </ul>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class='bx bx-search'></i>
                  <span>Select Page</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="expansion-content">
                <div class="pictures">
                    <img class="larger" [src]="imagePath + 'PICKME.png'" alt="PICKME">
                </div>
                <ul>
                    <li>View profiles that are similar to yours</li>
                    <li>Select profile age you want to see</li>
                    <li>Like a profile</li>
                    <li>View more information about a profile</li>
                </ul>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <i class='bx bxs-user'></i>
                    <span>Profile Page</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-content">
                    <div class="pictures">
                        <img [src]="imagePath + 'desktop/Profile1.png'" alt="PICKME">
                        <img [src]="imagePath + 'desktop/Profile2.png'" alt="PICKME">
                    </div>
                    <ul>
                        <li>Modify your profile</li>
                        <li>Add pictures and select main profile picture</li>
                        <li>Delete your account (needs confirmation)</li>
                    </ul>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <i class='bx bxs-like'></i>
                    <span>Like Page</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-content">
                    <div class="pictures">
                        <img class="larger" [src]="imagePath + 'desktop/Like.png'" alt="PICKME">
                    </div>
                    <ul>
                        <li>View profiles that liked you</li>
                        <li>Like a profile</li>
                        <li>View more information about a profile</li>
                    </ul>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <i class='bx bxs-flame'></i>
                    <span>Match Page</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-content">
                    <div class="pictures">
                        <img [src]="imagePath + 'desktop/Match.png'" alt="PICKME">
                    </div>
                    <ul>
                        <li>View profiles that matched with you</li>
                        <li>Search a user</li>
                        <li>Dislike a profile</li>
                        <li>View more information about a profile</li>
                        <li>Send a message, update or delete it</li>
                    </ul>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <i class='bx bxs-key'></i>
                    <span>Admin Page</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-content">
                    <div class="pictures">
                        <img [src]="imagePath + 'desktop/Admin-user.png'" alt="PICKME">
                        <img [src]="imagePath + 'desktop/Admin-message.png'" alt="PICKME">
                    </div>
                    <ul>
                        <li>Admin role needed to view this page</li>
                        <li>Search user or message</li>
                        <li>See all users or messages</li>
                        <li>View more information about a profile</li>
                        <li>Delete user or message</li>
                    </ul>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <i class='bx bxs-plus-circle'></i>
                    <span>More Info Page</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-content">
                    <div class="pictures">
                        <img [src]="imagePath + 'desktop/More-info1.png'" alt="PICKME">
                        <img [src]="imagePath + 'desktop/More-info2.png'" alt="PICKME">
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <i class='bx bx-devices'></i>
                    <span>Responsive design</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-content">
                    <div class="pictures">
                        <img class="smaller" [src]="imagePath + 'phone/Admin.png'" alt="PICKME">
                        <img class="smaller" [src]="imagePath + 'phone/Match.png'" alt="PICKME">
                        <img class="smaller" [src]="imagePath + 'phone/Select.png'" alt="PICKME">
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <i class='bx bxs-video'></i>
                    <span>Demo Video</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-content">
                    <video [src]="videoPath+'PICKME.mp4'" autoplay loop muted controls></video>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <a href="https://github.com/Brice150/PICKME" target="_blank" title="View Code" class="btn">View Code</a>
</div>