<header>
    <div class="title" title="PICKME">PICKME</div>
    <nav>
        <a class="return" routerLink="/page" title="Return">
            <i class='bx bx-left-arrow-alt'></i>
        </a>
    </nav>
</header>

<div class="container">
    <div class="content">
        <div class="card-container">
            <div class="card">
                <div class="front-content">
                    <h2>Work In Progress ...</h2>
                </div>
                <div class="back-content">
                   
                </div>
            </div>
        </div>
    </div>
</div>