<div class="container">
  <div class="card" data-tilt data-tilt-max="10" data-tilt-gyroscope="false">
    <h1>Projects</h1>
    <mat-tab-group>
      <mat-tab label="Frontend">
        <div
          class="content"
          *ngFor="let project of frontendProjects"
          (click)="openDialog(project)"
          [title]="project.name"
        >
          <div class="image">
            <img [src]="imagePath + project.image" [alt]="project.name" />
          </div>
          <div class="description">
            <div class="title">
              <img
                [src]="imagePath + project.logo"
                [alt]="project.name"
                [ngClass]="project.name === 'TESLA' ? 'smaller' : null"
              />
              <span>{{ project.name }}</span>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Full-Stack">
        <div
          class="content"
          *ngFor="let project of fullStackProjects"
          (click)="openDialog(project)"
          [title]="project.name"
        >
          <div class="image">
            <img [src]="imagePath + project.image" [alt]="project.name" />
          </div>
          <div class="description">
            <div class="title">
              <img [src]="imagePath + project.logo" [alt]="project.name" />
              <span>{{ project.name }}</span>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
