<div class="container">
  <div class="card" data-tilt data-tilt-max="10" id="project">
    <h1>Projects</h1>
    <div class="flex">
      <div
        class="content"
        *ngFor="let project of projects"
        [routerLink]="project.link"
        title="More Info"
      >
        <div class="image">
          <img [src]="imagePath + project.image" [alt]="project.image" />
        </div>
        <div class="description">
          <div class="title">
            <img [src]="imagePath + project.logo" alt="project.logo" />
            <span>{{ project.name }}</span>
          </div>
          <span>{{ project.title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
