<div class="contact" id="contact">
    <div class="container">
        <h1><span>Contact</span> Me</h1>
        <form>
            <input type="text" placeholder="Your Name" class="form-input">
            <input type="email" placeholder="Your Email" class="form-input">
            <input type="text" placeholder="Subject" class="form-input">
            <textarea placeholder="Your Message" class="form-input"></textarea>
            <button type="submit" class="btn">Send Message</button>
        </form>
    </div>
</div>