.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  padding: 20px;
  border-radius: var(--strong-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
}

.container .close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--accent);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  background-color: transparent;
}

.container .close:hover {
  color: var(--primary);
  background-color: var(--accent);
  top: 10px;
}

.container .close i {
  font-size: 55px;
}

.container .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .title-container .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .title-container .title img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.container .title-container .title h1 {
  font-size: 28px;
  font-weight: 800;
  color: var(--accent);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.container .title-container .description {
  color: var(--secondary);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.container video {
  cursor: pointer;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 4 / 3;
  background-color: black;
  border-radius: 10px;
  margin: 10px 0;
  object-fit: contain;
  display: block;
}

.container video.video-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  width: 100%;
}

.container .buttons .btn {
  text-decoration: none;
  background: none;
  border: none;
  color: var(--accent);
  padding: 10px;
  border-radius: var(--light-radius);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.5s ease;
}

.container .buttons .btn span {
  font-size: 22px;
  font-weight: 700;
}

.container .buttons .btn i {
  font-size: 35px;
}

.container .buttons .btn:hover {
  color: var(--primary);
  background-color: var(--accent);
  margin-bottom: -8px;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .container video {
    max-width: 600px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    width: 85%;
  }
  .container video {
    max-width: 480px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 85%;
  }
  .container video {
    max-width: 360px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 85%;
    min-height: 400px;
  }
  .container video {
    max-width: 320px;
  }
  .container .title-container .title img {
    width: 50px;
    height: 50px;
  }
}
