<div mat-dialog-content class="container">
  <button type="button" title="Close" class="close" (click)="close()">
    <i class="bx bx-x"></i>
  </button>
  <div class="title-container">
    <div class="title">
      <img [src]="imagePath + project.logo" [alt]="project.name" />
      <h1>{{ project.name }}</h1>
    </div>
    <span class="description">{{ project.description }}</span>
  </div>
  <video
    [poster]="imagePath + project.image"
    [src]="videoPath + project.video"
    autoplay
    loop
    muted
    controls
  ></video>
  <div class="buttons">
    <a [href]="project.repoLink" target="_blank" title="View Code" class="btn">
      <i class="bx bx-code-alt"></i>
      <span>View Code</span>
    </a>
    @if (project.siteLink) {
    <a [href]="project.siteLink" target="_blank" title="Try It" class="btn">
      <i class="bx bxs-hand-right"></i>
      <span>Try it</span>
    </a>
    }
  </div>
</div>
