.container {
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.card {
  width: 80%;
  max-width: 400px;
  height: 600px;
  padding: 20px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
}

h1 {
  position: absolute;
  top: 10px;
  font-size: 25px;
  font-weight: 800;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
}

form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

form .form-input {
  margin: 20px 0;
  width: 100%;
  background: none;
  color: var(--text);
  font-size: 17px;
  font-weight: 700;
  border-radius: 7px;
  box-shadow: 5px 5px 23px #002558, -5px -5px 23px #0053ca;
  border: none;
  padding: 5px;
}

form .form-input::placeholder {
  color: var(--text);
}

form .form-input:focus {
  box-shadow: inset 5px 5px 23px #002558, -5px -5px 23px #0053ca;
  outline: none;
}

form textarea {
  resize: none;
  height: 200px;
}

form .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background: none;
  border: none;
  font-size: 17px;
  font-weight: 700;
  color: var(--text);
  background-color: var(--dark-blue);
  padding: 10px;
  border-radius: 0.4em;
  box-shadow: 5px 5px 23px #002558, -5px -5px 23px #0053ca;
  cursor: pointer;
  transition: 0.5s ease;
}

form .btn:hover {
  box-shadow: inset 5px 5px 23px #002558, -5px -5px 23px #0053ca;
  color: black;
}

form span {
  font-size: 20px;
  font-weight: 500;
  color: red;
}

@media only screen and (max-width: 650px) {
  .contact {
    padding-top: 180px;
  }
}
