.contact {
  padding-top: 80px;
  padding-bottom: 40px;
  width: 100%;
}

.container {
  background-color: var(--background);
  margin: auto 5%;
  border-radius: 16px;
  box-shadow: 8px 8px 16px #909090, -8px -8px 16px #d8d8d8;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 7px solid var(--dark-blue);
}

.container h1 {
  font-size: 25px;
  font-weight: 800;
  color: black;
  padding-top: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container h1 span {
  color: var(--dark-blue);
}

.container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
  max-width: 1200px;
}

.container form .form-input {
  margin: 20px 0;
  width: 100%;
  background: none;
  color: black;
  font-size: 17px;
  font-weight: 700;
  border-radius: 7px;
  box-shadow: 5px 5px 23px #9c9c9c, -5px -5px 23px #ffffff;
  border: none;
  padding: 5px;
}

.container form .form-input::placeholder {
  color: var(--dark-blue);
}

.container form .form-input:focus {
  box-shadow: inset 5px 5px 23px #9c9c9c, inset -5px -5px 23px #ffffff;
  outline: none;
}

.container form textarea {
  resize: none;
  height: 200px;
}

.container form .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background: none;
  border: none;
  font-size: 17px;
  font-weight: 700;
  color: var(--text);
  background-color: var(--dark-blue);
  padding: 10px;
  border-radius: 0.4em;
  box-shadow: 5px 5px 23px #9c9c9c, -5px -5px 23px #ffffff;
  cursor: pointer;
  transition: 0.5s ease;
}

.container form .btn:hover {
  background-color: white;
  box-shadow: inset 5px 5px 23px #9c9c9c, inset -5px -5px 23px #ffffff;
  color: black;
}

.container form span {
  font-size: 20px;
  font-weight: 500;
  color: red;
}

@media only screen and (max-width: 650px) {
  .contact {
    padding-top: 180px;
  }
}
