<div class="container">
  <div class="card" data-tilt data-tilt-max="10" data-tilt-gyroscope="false">
    <h1>Contact Me</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        placeholder="Your Name"
        formControlName="name"
        class="form-input"
      />
      <input
        type="email"
        placeholder="Your Email"
        formControlName="email"
        class="form-input"
      />
      <input
        type="text"
        placeholder="Subject"
        formControlName="subject"
        class="form-input"
      />
      <textarea
        placeholder="Your Message"
        formControlName="message"
        class="form-input"
      ></textarea>
      <button type="submit" class="btn">Send Message</button>
    </form>
  </div>
</div>
