.container {
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.card {
  width: 80%;
  max-width: 400px;
  height: 600px;
  padding: 20px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
}

h1 {
  position: absolute;
  top: 10px;
  font-size: 25px;
  font-weight: 800;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

form mat-form-field textarea {
  resize: none;
  min-height: 230px;
}

::ng-deep form mat-form-field .mat-mdc-form-field-icon-suffix {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::ng-deep .mdc-text-field {
  border-radius: 5px !important;
}

::ng-deep .mdc-text-field--filled {
  background-color: var(--background) !important;
}

::ng-deep
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: black;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--dark-blue);
}

::ng-deep
  .mdc-text-field--invalid:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  color: var(--error);
}
