<div class="container">
  <div class="card" data-tilt data-tilt-max="10" data-tilt-gyroscope="false">
    <h1>Contact Me</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Your Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error
          *ngIf="
            contactForm.get('name')!.invalid &&
            (contactForm.get('name')!.dirty || contactForm.get('name')!.touched)
          "
        >
          <span *ngIf="contactForm.get('name')!.hasError('required')"
            >Name is required</span
          >
          <span *ngIf="contactForm.get('name')!.hasError('minlength')"
            >Name is too short</span
          >
          <span *ngIf="contactForm.get('name')!.hasError('maxlength')"
            >Name is too long</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Your Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error
          *ngIf="
            contactForm.get('email')!.invalid &&
            (contactForm.get('email')!.dirty ||
              contactForm.get('email')!.touched)
          "
        >
          <span *ngIf="contactForm.get('email')!.hasError('required')"
            >Email is required</span
          >
          <span *ngIf="contactForm.get('email')!.hasError('email')"
            >Email is invalid</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject" />
        <mat-error
          *ngIf="
            contactForm.get('subject')!.invalid &&
            (contactForm.get('subject')!.dirty ||
              contactForm.get('subject')!.touched)
          "
        >
          <span *ngIf="contactForm.get('subject')!.hasError('required')"
            >Subject is required</span
          >
          <span *ngIf="contactForm.get('subject')!.hasError('minlength')"
            >Subject is too short</span
          >
          <span *ngIf="contactForm.get('subject')!.hasError('maxlength')"
            >Subject is too long</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Your Message</mat-label>
        <textarea matInput formControlName="message"></textarea>
        <button
          mat-icon-button
          matSuffix
          type="submit"
          title="Send Message"
          [disabled]="
            contactForm.invalid ||
            !contactForm.get('name')?.value ||
            !contactForm.get('email')?.value ||
            !contactForm.get('subject')?.value ||
            !contactForm.get('message')?.value
          "
          color="primary"
        >
          <mat-icon>send</mat-icon>
        </button>
        <button
          mat-icon-button
          matSuffix
          type="button"
          title="Clear Form"
          (click)="openDialog()"
          [disabled]="
            contactForm.invalid ||
            !contactForm.get('name')?.value ||
            !contactForm.get('email')?.value ||
            !contactForm.get('subject')?.value ||
            !contactForm.get('message')?.value
          "
          color="warn"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <mat-error
          *ngIf="
            contactForm.get('message')!.invalid &&
            (contactForm.get('message')!.dirty ||
              contactForm.get('message')!.touched)
          "
        >
          <span *ngIf="contactForm.get('message')!.hasError('required')"
            >Message is required</span
          >
          <span *ngIf="contactForm.get('message')!.hasError('minlength')"
            >Message is too short</span
          >
          <span *ngIf="contactForm.get('message')!.hasError('maxlength')"
            >Message is too long</span
          >
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
