<div mat-dialog-content class="container">
  <a title="Close" class="close" (click)="close()">
    <i class="bx bx-x"></i>
  </a>
  <div class="title-container">
    <div class="title">
      <img
        [src]="imagePath + project.logo"
        [alt]="project.name"
        [ngClass]="project.name === 'TESLA' ? 'tesla' : null"
      />
      <span class="name">{{ project.name }}</span>
    </div>
    <span class="description">{{ project.description }}</span>
  </div>
  <video
    [poster]="imagePath + project.image"
    [src]="videoPath + project.video"
    autoplay
    loop
    muted
    controls
  ></video>
  <div class="buttons">
    <a [href]="project.repoLink" target="_blank" title="View Code" class="btn"
      >View Code</a
    >
    <a
      *ngIf="project.siteLink"
      [href]="project.siteLink"
      target="_blank"
      title="Try It"
      class="btn"
      >Try it</a
    >
  </div>
</div>
