.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-blue);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 95%;
  min-height: 700px;
}

.container .close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text);
  background-color: var(--dark-blue);
  border-radius: 0.4em;
  box-shadow: 5px 5px 23px #002558, -5px -5px 23px #0053ca;
  cursor: pointer;
  transition: 0.5s ease;
}

.container .close:hover {
  box-shadow: inset 5px 5px 23px #002558, inset -5px -5px 23px #0053ca;
}

.container .close i {
  color: var(--text);
  font-size: 45px;
}

.container .close:hover i {
  color: var(--hover);
}

.container .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .title-container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container .title-container .title img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.container .title-container .title img.tesla {
  width: 50px;
  height: 50px;
}

.container .title-container .title .name {
  color: var(--text);
  font-size: 27px;
  font-weight: 800;
  text-align: center;
}

.container .title-container .description {
  color: var(--text);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.container video {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  margin: 10px;
}

.container .buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  width: 100%;
}

.container .buttons .btn {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: var(--text);
  background-color: var(--dark-blue);
  padding: 10px;
  border-radius: 0.4em;
  box-shadow: 5px 5px 23px #002558, -5px -5px 23px #0053ca;
  cursor: pointer;
  transition: 0.5s ease;
}

.container .buttons .btn:hover {
  box-shadow: inset 5px 5px 23px #002558, inset -5px -5px 23px #0053ca;
  color: var(--hover);
}
