<header>
    <div class="title">Portfolio</div>
    <nav>
        <a (click)="toHome()" routerLinkActive="active" class="active">
            <i class='bx bxs-home'></i>
            <span>Home</span>
        </a>
        <a (click)="toAbout()" routerLinkActive="active">
            <i class='bx bxs-user-rectangle'></i>
            <span>About</span>
        </a>
        <a (click)="toProject()" routerLinkActive="active">
            <i class='bx bxs-briefcase-alt-2'></i>
            <span>Project</span>
        </a>
        <a (click)="toContact()" routerLinkActive="active">
            <i class='bx bxs-chat'></i>
            <span>Contact</span>
        </a>
    </nav>
</header>