:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 10px;
  max-width: 1200px;
  height: calc(100vh - 150px);
  height: calc(100dvh - 150px);
  max-height: 650px;
  border-radius: var(--strong-radius);
  background: var(--primary);
  box-shadow: var(--box-shadow);
}

section .arrow {
  position: absolute;
  color: var(--accent);
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
}

section .arrow.left {
  left: 0;
}

section .arrow.right {
  right: 0;
}

section .title {
  position: absolute;
  top: 10px;
}

section .title h1 {
  font-size: 28px;
  font-weight: 800;
  color: var(--accent);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

swiper-container {
  width: 80%;
  height: 550px;
  max-width: 420px;
  border-radius: var(--strong-radius);
  animation: animateElement 1.4s ease-out forwards;
  animation-delay: var(--delay);
  opacity: 0;
}

swiper-slide {
  width: 100%;
  border-radius: var(--strong-radius);
  cursor: grab;
}

@keyframes animateElement {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  section .arrow:hover {
    color: var(--secondary);
    background-color: var(--accent);
  }

  section .arrow:hover.left {
    left: -10px;
  }

  section .arrow:hover.right {
    right: -10px;
  }
}

@media screen and (max-width: 768px) {
  section .arrow.left {
    left: -15px;
  }

  section .arrow.right {
    right: -15px;
  }
}

@media screen and (max-width: 600px) {
  swiper-container {
    height: 500px;
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  swiper-container {
    height: 450px;
  }
}

@media screen and (max-width: 496px) {
  section {
    margin-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  swiper-container {
    width: 250px;
  }
}

@media screen and (max-width: 380px) {
  swiper-container {
    width: 220px;
  }
}
