<div class="screen">
    <div class="card" data-tilt>
        <img [src]="imagePath + 'Photo_CV.jpg'" alt="Photo_CV">
        <h2>Brice Lecomte</h2>
        <p>Full-Stack Developer</p>
        <div class="links">
            <a href="https://www.linkedin.com/in/brice-lecomte/" target="_blank" title="LinkedIn"><i class='bx bxl-linkedin-square' ></i></a>
            <a href="https://github.com/Brice150" target="_blank" title="GitHub"><i class='bx bxl-github'></i></a>
            <a href="mailto:brice.lecomte0@gmail.com" target="_blank" title="Mail"><i class='bx bxs-envelope'></i></a>
        </div>
        <div class="website-button">
            <a class="button" title="Portfolio" routerLink="/home">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Go To Portfolio
            </a>
        </div>
    </div>
</div>
