<section>
  <div class="arrow left" routerLink="/skills" title="Previous">
    <i class="bx bx-chevron-left"></i>
  </div>
  <div class="arrow right" routerLink="/projects" title="Next">
    <i class="bx bx-chevron-right"></i>
  </div>
  <div class="title">
    <i class="bx bxs-objects-horizontal-left"></i>
    <h1>Parcours</h1>
  </div>
  <div class="content">
    <div class="timeline">
      <div class="element">
        <div class="main">
          <div class="title-element">
            <h2>2017-2020</h2>
            <h3>ISAE-ENSMA</h3>
          </div>
          <div class="image">
            <img
              [src]="imagePath + 'ensma.webp'"
              alt="ISAE-ENSMA"
              class="ensma"
            />
          </div>
        </div>
        <div class="description">
          <ul>
            <li>Pilotage d’une équipe projet pour la conception d’un ULM.</li>
            <li>
              Optimisation du turboréacteur d’un avion d’affaires supersonique.
            </li>
          </ul>
        </div>
      </div>
      <div class="element" style="--delay: 0.7s">
        <div class="main">
          <div class="title-element">
            <h2>2021-2024</h2>
            <h3>Sopra Steria</h3>
          </div>
          <div class="image">
            <img
              [src]="imagePath + 'sopra.webp'"
              alt="Sopra Steria"
              class="sopra"
            />
          </div>
        </div>
        <div class="description">
          <ul>
            <li>
              Participation à la conception et au développement d’une
              application web de gestion de la maintenance de véhicules
              militaires, basée sur Angular et Spring.
            </li>
            <li>
              Référent Frontend au sein de l’équipe, avec accompagnement et
              encadrement d’un stagiaire.
            </li>
          </ul>
        </div>
      </div>
      <div class="element" style="--delay: 1.2s">
        <div class="main">
          <div class="title-element">
            <h2>2024-Today</h2>
            <h3>Capgemini</h3>
          </div>
          <div class="image">
            <img
              [src]="imagePath + 'capgemini.webp'"
              alt="Capgemini"
              class="capgemini"
            />
          </div>
        </div>
        <div class="description">
          <ul>
            <li>
              Contribution au développement de plusieurs applications web
              dédiées à la gestion de bateaux et de marins, en Angular et
              Spring.
            </li>
            <li>
              Encadrement technique et accompagnement d’un alternant au sein de
              l’équipe.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
