<section>
  <div class="arrow left" routerLink="/projects" title="Previous">
    <i class="bx bx-chevron-left"></i>
  </div>
  <div class="title">
    <i class="bx bxs-envelope"></i>
    <h1>Contact</h1>
  </div>
  <div class="content">
    <form [formGroup]="contactForm">
      <mat-form-field style="--delay: 0.2s">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" />
        @if (contactForm.get("name")!.invalid) {
          <mat-error>
            @if (contactForm.get("name")!.hasError("required")) {
              <span>Ce champ est requis</span>
            }
            @if (contactForm.get("name")!.hasError("minlength")) {
              <span>Ce champ est trop court</span>
            }
            @if (contactForm.get("name")!.hasError("maxlength")) {
              <span>Ce champ est trop long</span>
            }
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field style="--delay: 0.4s">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        @if (contactForm.get("email")!.invalid) {
          <mat-error>
            @if (contactForm.get("email")!.hasError("required")) {
              <span>Ce champ est requis</span>
            }
            @if (contactForm.get("email")!.hasError("email")) {
              <span>L'email est invalide</span>
            }
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field style="--delay: 0.6s">
        <mat-label>Objet</mat-label>
        <input matInput formControlName="subject" />
        @if (contactForm.get("subject")!.invalid) {
          <mat-error>
            @if (contactForm.get("subject")!.hasError("required")) {
              <span>Ce champ est requis</span>
            }
            @if (contactForm.get("subject")!.hasError("minlength")) {
              <span>Ce champ est trop court</span>
            }
            @if (contactForm.get("subject")!.hasError("maxlength")) {
              <span>Ce champ est trop long</span>
            }
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field style="--delay: 0.8s">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message"></textarea>
        <button
          mat-icon-button
          matSuffix
          type="button"
          title="Send Message"
          [disabled]="
            contactForm.invalid ||
            !contactForm.get('name')?.value ||
            !contactForm.get('email')?.value ||
            !contactForm.get('subject')?.value ||
            !contactForm.get('message')?.value
          "
          (click)="submitForm(); $event.stopPropagation()"
        >
          <mat-icon class="send">send</mat-icon>
        </button>
        <button
          mat-icon-button
          matSuffix
          type="button"
          title="Clear Form"
          (click)="clearForm(); $event.stopPropagation()"
        >
          <mat-icon class="delete">delete</mat-icon>
        </button>
        @if (contactForm.get("message")!.invalid) {
          <mat-error>
            @if (contactForm.get("message")!.hasError("required")) {
              <span>Ce champ est requis</span>
            }
            @if (contactForm.get("message")!.hasError("minlength")) {
              <span>Ce champ est trop court</span>
            }
            @if (contactForm.get("message")!.hasError("maxlength")) {
              <span>Ce champ est trop long</span>
            }
          </mat-error>
        }
      </mat-form-field>
    </form>
  </div>
</section>
