<nav>
  <button
    type="button"
    title="Accueil"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    style="--delay: 0.2s"
  >
    <span>Accueil</span>
  </button>
  <button
    type="button"
    title="Skills"
    routerLink="/skills"
    routerLinkActive="active"
    style="--delay: 0.4s"
  >
    <span>Skills</span>
  </button>
  <button
    type="button"
    title="Parcours"
    routerLink="/history"
    routerLinkActive="active"
    style="--delay: 0.6s"
  >
    <span>Parcours</span>
  </button>
  <button
    type="button"
    title="Projets"
    routerLink="/projects"
    routerLinkActive="active"
    style="--delay: 0.8s"
  >
    <span>Projets</span>
  </button>
  <button
    type="button"
    title="Contact"
    routerLink="/contact"
    routerLinkActive="active"
    style="--delay: 1s"
  >
    <span>Contact</span>
  </button>
</nav>
