:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  top: 15px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 2px;
  position: fixed;
  border-radius: var(--strong-radius);
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  z-index: 100;
  animation: animateElement 1s linear forwards;
  opacity: 0;
}

nav button {
  border: none;
  cursor: pointer;
  color: var(--accent);
  font-size: 20px;
  font-weight: 550;
  border-radius: var(--strong-radius);
  background-color: transparent;
  padding: 8px;
  width: 85px;
  text-align: center;
  opacity: 0;
  transform: translateY(-20px);
  animation: animateLink 0.8s ease-out forwards;
  animation-delay: var(--delay);
  transition: 0.5s ease;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes animateLink {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav button.active {
  color: var(--secondary);
  background-color: var(--accent);
}

nav button:not(.active):hover {
  color: var(--secondary);
  background-color: var(--accent);
  margin-top: -10px;
  margin-bottom: 10px;
}

@keyframes animateElement {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
