<header>
    <nav>
        <div class="title" title="Portfolio">Portfolio</div>
        <div class="half-container">
            <a (click)="toHome()" title="Home">
                <i class='bx bxs-home'></i>
                <span>Home</span>
            </a>
            <a (click)="toAbout()" title="About">
                <i class='bx bxs-user-rectangle'></i>
                <span>About</span>
            </a>
        </div>
        <div class="half-container">
            <a (click)="toProject()" title="Project">
                <i class='bx bxs-briefcase-alt-2'></i>
                <span>Project</span>
            </a>
            <a (click)="toContact()" title="Contact">
                <i class='bx bxs-chat'></i>
                <span>Contact</span>
            </a>
        </div>
       
    </nav>
</header>