<div class="container">
  <div class="card" data-tilt data-tilt-max="10" id="skills">
    <h1>Skills</h1>
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="bx bx-laptop"></i>
            <span>Frontend</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="skill">
          <p>Angular</p>
          <span class="bar"><span class="prog angular"></span></span>
        </div>
        <div class="skill">
          <p>HTML / CSS</p>
          <span class="bar"><span class="prog html"></span></span>
        </div>
        <div class="skill">
          <p>JS / TS</p>
          <span class="bar"><span class="prog js"></span></span>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="bx bxs-server"></i>
            <span>Backend</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="skill">
          <p>Spring Boot</p>
          <span class="bar"><span class="prog spring"></span></span>
        </div>
        <div class="skill">
          <p>Java</p>
          <span class="bar"><span class="prog java"></span></span>
        </div>
        <div class="skill">
          <p>Postgres / MySQL</p>
          <span class="bar"><span class="prog postgres"></span></span>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="bx bx-code-block"></i>
            <span>Softwares</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="skill">
          <p>VSCode / Intellij</p>
          <span class="bar"><span class="prog vscode"></span></span>
        </div>
        <div class="skill">
          <p>Talend Open Studio</p>
          <span class="bar"><span class="prog talend"></span></span>
        </div>
        <div class="skill">
          <p>Git</p>
          <span class="bar"><span class="prog git"></span></span>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="bx bxs-user"></i>
            <span>Soft Skills</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="skill">
          <p>Teamwork</p>
          <span class="bar"><span class="prog team"></span></span>
        </div>
        <div class="skill">
          <p>Decision-making</p>
          <span class="bar"><span class="prog decision"></span></span>
        </div>
        <div class="skill">
          <p>Adaptability</p>
          <span class="bar"><span class="prog adapt"></span></span>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="bx bxs-microphone"></i>
            <span>Langages</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="skill">
          <p>English</p>
          <span class="bar"><span class="prog english"></span></span>
        </div>
        <div class="skill">
          <p>French</p>
          <span class="bar"><span class="prog french"></span></span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
