.container {
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.card {
  width: 80%;
  max-width: 400px;
  height: 600px;
  padding: 20px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
}

h1 {
  position: absolute;
  top: 10px;
  font-size: 25px;
  font-weight: 800;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
}

mat-stepper {
  width: 100%;
  box-shadow: 5px 5px 23px #002558, -5px -5px 23px #0053ca;
  background-color: var(--background);
  border-radius: 5px;
}

mat-stepper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
}

mat-stepper .container .picture {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-stepper .container .text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

mat-stepper .container .ensma {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

mat-stepper .container .m2i {
  width: 45px;
  height: auto;
  margin-bottom: 10px;
}

mat-stepper .container .web {
  width: 45px;
  height: auto;
  margin-bottom: 10px;
}

mat-stepper .container .sopra {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

mat-stepper .container h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-blue);
}

mat-stepper .container p {
  font-size: 17px;
  font-weight: 600;
  color: black;
}

span {
  font-weight: 600;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: var(--dark-blue);
}

@media only screen and (max-width: 692px) {
  .container {
    justify-content: center;
    text-align: center;
  }
}
