<div class="container">
  <div class="card" data-tilt data-tilt-max="10" id="history">
    <h1>History</h1>
    <mat-stepper #stepper [labelPosition]="'bottom'">
      <mat-step state="edit">
        <ng-template matStepLabel>
          <span [ngStyle]="{ color: 'black' }">2020</span>
        </ng-template>
        <div class="container">
          <div class="picture">
            <img
              [src]="imagePath + 'logos/ensma.png'"
              alt="ISAE-ENSMA"
              class="ensma"
            />
          </div>
          <div class="text">
            <h4>ISAE-ENSMA</h4>
            <p>Engineering Diploma and Master's Degree in Aerospace</p>
          </div>
        </div>
      </mat-step>
      <mat-step state="edit">
        <ng-template matStepLabel>
          <span [ngStyle]="{ color: 'black' }">2021</span>
        </ng-template>
        <div class="container">
          <div class="picture">
            <img [src]="imagePath + 'logos/m2i.png'" alt="M2i" class="m2i" />
          </div>
          <div class="text">
            <h4>M2i Certificate</h4>
            <p>Java Web Application Training</p>
          </div>
        </div>
      </mat-step>
      <mat-step state="edit">
        <ng-template matStepLabel>
          <span [ngStyle]="{ color: 'black' }">Today</span>
        </ng-template>
        <div class="container">
          <div class="picture">
            <img
              [src]="imagePath + 'logo.png'"
              alt="Web application"
              class="web"
            />
          </div>
          <div class="text">
            <h4>Full-Stack Developer</h4>
            <p>Web Application Projects</p>
          </div>
        </div>
      </mat-step>
      <mat-step state="edit">
        <ng-template matStepLabel>
          <span [ngStyle]="{ color: 'black' }">Today</span>
        </ng-template>
        <div class="container">
          <div class="picture">
            <img
              [src]="imagePath + 'logos/sopra.png'"
              alt="Sopra Steria"
              class="sopra"
            />
          </div>
          <div class="text">
            <h4>Web Application Engineer</h4>
            <p>Sopra Steria, Rennes France</p>
          </div>
        </div>
      </mat-step>
      <ng-template matStepperIcon="edit">
        <mat-icon>timeline</mat-icon>
      </ng-template>
    </mat-stepper>
  </div>
</div>
