.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 496px) {
  .container {
    margin-top: 50px;
    height: calc(100vh - 50px);
  }
}
