.project {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent);
  border-radius: var(--strong-radius);
  height: 100%;
  width: 100%;
}

.project .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);
  background-color: var(--secondary);
  width: 100%;
  padding: 5px;
  border-radius: var(--light-radius);
}

.project .title h2 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 550;
  text-align: center;
  color: var(--accent);
}

.project .image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.project .btn {
  position: absolute;
  bottom: 20px;
  background: none;
  border: none;
  color: var(--secondary);
  padding: 10px;
  border-radius: var(--light-radius);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  animation: animateElement 1.5s ease-out forwards;
  animation-delay: var(--delay);
  opacity: 0;
  text-decoration: none;
  transition: 0.5s ease;
}

.project .btn span {
  font-size: 22px;
  font-weight: 700;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.project .btn i {
  font-size: 35px;
}

.project .btn:hover {
  color: var(--accent);
  background-color: var(--secondary);
}

@keyframes animateElement {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .project .image {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .project .image {
    height: 250px;
  }
}
