<div class="links">
    <a class="card" (click)="openDialog('animation')" title="Animation">
        <img [src]="imagePath + 'plart/animations/cube.png'" alt="Animation" class="animation">
        <h2>Animation</h2>
        <p>2D and 3D animations are displayed on this web application</p>
    </a>
    <a class="card" (click)="openDialog('user')" title="User">
        <img [src]="imagePath + 'plart/users/login.png'" alt="User" class="user">
        <h2>User</h2>
        <p>The user has to login to send a message, order and view his previous orders in this section</p>
    </a>
    <a class="card" (click)="openDialog('work')" title="Work">
        <img [src]="imagePath + 'plart/works/categories.png'" alt="Work" class="work">
        <h2>Work</h2>
        <p>3D files can be ordered and downloaded in work section</p>
    </a>
</div>