<header>
  <div class="title" title="SIMULATOR">SIMULATOR</div>
  <nav>
    <a class="return" routerLink="/" title="Return">
      <i class="bx bx-left-arrow-alt"></i>
    </a>
  </nav>
</header>

<div class="container">
  <div class="content">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="bx bx-task"></i>
            <span>Form</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <div class="pictures">
            <img
              class="smaller"
              [src]="imagePath + 'Form.png'"
              alt="Simulator"
            />
          </div>
          <ul>
            <li>
              Select the number of persons living with you, your yearly income
              and the type of work that needs to be made in order to make your
              home more eco-friendly
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="bx bxs-briefcase"></i>
            <span>Globale</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <div class="pictures">
            <img [src]="imagePath + 'Globale.png'" alt="Simulator" />
          </div>
          <ul>
            <li>
              View the percentage of renovation subsidies that can be applied in
              your case
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="bx bxs-hard-hat"></i>
            <span>Geste</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <div class="pictures">
            <img [src]="imagePath + 'Geste.png'" alt="Simulator" />
          </div>
          <ul>
            <li>
              View the amount of renovation subsidies that can be applied in
              your case
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="buttons">
    <a
      href="https://github.com/Brice150/Simulator"
      target="_blank"
      title="View Code"
      class="btn"
      >View Code</a
    >
    <a
      href="https://brice150.github.io/Simulator/"
      target="_blank"
      title="View Code"
      class="btn"
      >Try it</a
    >
  </div>
</div>
