.project {
    padding-top: 80px;
    width: 100%;
}

.container {
    background-color: var(--background);
    margin: auto 5%;
    border-radius: 16px;
    box-shadow:  8px 8px 16px #909090,
             -8px -8px 16px #d8d8d8;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 7px solid var(--light-blue);
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container h1 {
    font-size: 25px;
    font-weight: 800;
    color: black;
    padding-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container h1 span {
    color: var(--dark-blue);
}

.container .btn {
    margin-bottom: 20px;
    margin-top: 30px;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 17px;
    font-weight: 700;
    color: var(--text);
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 10px;
    box-shadow:  3px 3px 7px #a4a4a4,
             -3px -3px 7px #c4c4c4;
    cursor: pointer;
    transition: 0.5s ease;
}

.container .btn:hover {
    box-shadow: inset 3px 3px 7px #a4a4a4,
            inset -3px -3px 7px #c4c4c4;
    color: black;
}

@media only screen and (max-width: 558px) {
    .project {
        padding-top: 120px;
    }

    .container {
        height: 85vh;
    }
}

@media only screen and (max-width: 358px) {
    .project {
        padding-top: 160px;
    }

    .container {
        height: 80vh;
    }
}

@media only screen and (max-width: 332px) {
    .project {
        padding-top: 200px;
    }

    .container {
        height: 75vh;
    }
}