<div mat-dialog-content class="container">
  <button type="button" title="Close" class="close" (click)="close()">
    <i class="bx bx-x"></i>
  </button>
  <div class="title-container">
    <div class="title">
      <h1>{{ project.name }}</h1>
    </div>
  </div>
  <video
    [poster]="imagePath + project.image"
    [src]="videoPath + project.video"
    autoplay
    loop
    muted
    controls
  ></video>
  <div class="buttons">
    <a [href]="project.link" target="_blank" title="Github" class="btn">
      <i class="bx bxl-github"></i>
      <span>Github</span>
    </a>
  </div>
</div>
