.container {
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.card {
  width: 80%;
  max-width: 400px;
  height: 600px;
  padding: 20px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
}

h1 {
  position: absolute;
  top: 10px;
  font-size: 25px;
  font-weight: 800;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card img {
  margin-top: 20px;
  width: 200px;
  height: auto;
  border-radius: 50%;
  background-color: white;
  box-shadow: 5px 5px 23px #002558, -5px -5px 23px #0053ca;
}

.card .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.card .name {
  font-size: 30px;
  font-weight: 600;
  color: var(--text);
  padding: 0 5px;
  margin: 10px 0;
}

.card .title {
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
  padding: 0 5px;
  margin: 10px 0;
}

.card .description {
  text-align: justify;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.card .links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.card .links a {
  cursor: pointer;
  text-decoration: none;
  font-size: 50px;
  margin: 15px;
  color: var(--text);
  border-radius: 10px;
  padding: 4px;
  box-shadow: 5px 5px 23px #002558, -5px -5px 23px #0053ca;
  transition: 0.5s ease;
}

.card .links a:hover {
  color: var(--hover);
  box-shadow: inset 5px 5px 23px #002558, inset -5px -5px 23px #0053ca;
}

.btn {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 17px;
  font-weight: 700;
  color: var(--text);
  background-color: var(--dark-blue);
  padding: 10px;
  border-radius: 0.4em;
  box-shadow: 5px 5px 23px #002558, -5px -5px 23px #0053ca;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: inset 5px 5px 23px #002558, inset -5px -5px 23px #0053ca;
  color: var(--hover);
}
