:root {
    --light-blue: #38b6ff;
    --dark-blue: #003c91;
    --text: #ffffff;
    --background: #b4b4b4;
    --scrollbar: #38b6ff;
    --hover: #000000;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
