:root {
  --primary: white;
  --secondary: black;
  --accent: #0088ff;

  --strong-radius: 20px;
  --light-radius: 10px;

  --background: linear-gradient(to right, #000428, #004e92);
}

html,
body {
  height: 100vh;
  height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background);
}

::-webkit-scrollbar {
  display: none;
}

.toast-container .ngx-toastr.custom {
  box-shadow: none;
  border-radius: var(--light-radius);
}

.toast-container .ngx-toastr.custom.info {
  background-color: var(--accent);
}

.toast-container .ngx-toastr.custom.error {
  background-color: red;
}
