:root {
  --light-blue: #38b6ff;
  --dark-blue: #003c91;
  --text: #ffffff;
  --background: #ffffff;
  --scrollbar: #38b6ff;
  --hover: #000000;
  --error: #f44336;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
