:root {
  --primary: #242526;
  --secondary: white;
  --accent: #0088ff;
  --background: #18191a;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --box-shadow: 0 2px 6px var(--box-shadow-color);

  --strong-radius: 20px;
  --light-radius: 10px;
}

html {
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
}

::-webkit-scrollbar {
  display: none;
}

.toast-container .ngx-toastr.custom {
  box-shadow: none;
  border-radius: var(--light-radius);
}

.toast-container .ngx-toastr.custom.info {
  background-color: var(--accent);
}

.toast-container .ngx-toastr.custom.error {
  background-color: red;
}

body.cdk-global-scrollblock {
  overscroll-behavior: none;
}
