.home {
    padding-top: 80px;
    width: 100%;
}

.container {
    background-color: var(--background);
    margin: auto 5%;
    border-radius: 16px;
    box-shadow:  8px 8px 16px #909090,
             -8px -8px 16px #d8d8d8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    font-size: 25px;
    font-weight: 800;
    color: black;
    padding-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container h1 span {
    color: var(--dark-blue);
}

.container .content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .content .presentation {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .content .presentation img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow:  3px 3px 7px #a4a4a4,
             -3px -3px 7px #c4c4c4;
    margin: 40px;
}

.container .content .presentation .titles h2{
    color: var(--dark-blue);
    font-size: 35px;
    font-weight: 700;
}

.container .content .presentation .titles h3{
    color: var(--text);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}

.container .content .presentation .titles p{
    font-size: 16px;
    font-weight: 600;
}

.container .content .links {
    display: flex;
    justify-content: center;
}

.container .content .links a {
    cursor: pointer;
    text-decoration: none;
    font-size: 50px;
    margin: 0 15px;
    margin-bottom: 15px;
    color: var(--text);
    border-radius: 20px;
    padding: 4px;
    box-shadow:  3px 3px 7px #a4a4a4,
             -3px -3px 7px #c4c4c4;
    transition: 0.5s ease;
}

.container .content .links .message {
    font-size: 48px;
    padding-top: 8px;
}

.container .content .links a:hover {
    color: var(--hover);
    box-shadow: inset 3px 3px 7px #a4a4a4,
            inset -3px -3px 7px #c4c4c4;
}

.container .content .btn {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 17px;
    font-weight: 700;
    color: var(--text);
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 10px;
    box-shadow:  3px 3px 7px #a4a4a4,
             -3px -3px 7px #c4c4c4;
    cursor: pointer;
    transition: 0.5s ease;
}

.container .content .btn:hover {
    box-shadow: inset 3px 3px 7px #a4a4a4,
            inset -3px -3px 7px #c4c4c4;
    color: black;
}

@media only screen and (max-width: 558px) {
    .home {
        padding-top: 120px;
    }

    .container {
        height: 85vh;
    }
}

@media only screen and (max-width: 358px) {
    .home {
        padding-top: 160px;
    }

    .container {
        height: 80vh;
    }
}

@media only screen and (max-width: 332px) {
    .home {
        padding-top: 200px;
    }

    .container {
        height: 75vh;
    }
}